---
---

@import "{{ site.theme }}";
.project-tagline {display:none;}
.main-content h2 {color:#019C86;}
.main-content h3 {color:#666;}
.main-content hr {
    height: 1px;
    margin: 2rem 0;
    background-color: #333333;
    }
img {border:1px solid #606c71;}
